header {
    border-bottom: soild 1px black;
    border-radius: 15px;
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
    margin: 2%;
}

header div {
    display: inline-block;
    margin: auto 50px;
}

main {
    margin-top:2%;
    text-align: center;
}