


header {
    border-bottom: soild 1px black;
    border-radius: 15px;
    background-color: rgb(46, 45, 45);
    color: white;
    text-align: center;
    margin: 2%;
    padding: 3%;
    font-size: x-large;
}


section {
    padding: 4px;
    text-align: center;
    margin-top: 14px;
    border: solid 1px black;
    width: 70%;
    margin-left: 15%;
}

#quiz-status{
    margin-left: 15%;
    padding-bottom: 10px;
}
header div {
    display: inline-block;
    margin: auto 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-top:5%;
    text-align: center;
}

#button{
    margin-left: 15%;
}

#A {
    padding: 6px;
}

main .css {
    line-height: 1.3;
    padding: 4px;
    border: solid 1px black;
    margin-top: 5%;
    margin-left: 15%;
}
.css div {
    padding: 4px;
}
